@font-face {
  font-family: LuloClean;
  src: url(/Fonts/LuloClean.ttf);
}

@font-face {
  font-family: Contax;
  src: url(/Fonts/Contax.otf);
}

@font-face {
  font-family: RalewayBold;
  src: url(/Fonts/Raleway-Bold.ttf);
}

#top {
  display: block;
  margin-top: -7vw;
  padding-bottom: 6vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vw;
  background-color: rgba(50, 50, 50, 0.75);
  z-index: 9;
}

.menu {
  margin-left: 10vw;
  display: none;
}

.mobilemenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202124;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mobilemenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mobilemenu a:hover {
  color: #f1f1f1;
}

.mobilemenu .closebtn {
  position: absolute;
  top: 0;
  right: 2vw;
  font-size: 15vw;
  margin-left: 50px;
  size: 15vw 15vw;
}

.openmenu {
  line-height: 15vw;
  color: white;
  margin-left: 2vw;
  font-size: 10vw;
  cursor: pointer;
}

.bars {
  margin-top: 1vw;
  padding-right: 10px;
  width: 8vw;
  height: 8vw;
  cursor: pointer;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/Imgs/ToradoraC1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: auto 100vh;
  background-color: #EC3642;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 7vw;
}

.topbutton {
  background-color: transparent;
  border: none;
  margin-left: 10vw;
  text-decoration: none;
  display: inline-block;
  font-size: 10vw;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-family: Contax;
}

.menubutton {
  background-color: transparent;
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8vw;
  margin: 4px 1vw;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-family: Contax;
}

.menubutton:hover {
  color: #EC3642;
}

.title {
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  font-size: 11vw;
  color: white;
  font-family: LuloClean;
  letter-spacing: -2.5vw;
  line-height: 15vw;
  margin-top: 20vw;
}

.spaceh {
  display: block;
  min-height: 3vw;
}

.wikilink {
  font-size: 8vw;
}

.link {
  border: none;
  font-family: Contax;
  text-decoration: underline;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.button {
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8vw;
  margin: 1vw 1vw;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 2px;
  font-family: Contax;
}

.button1 {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1vw solid #EC3642;
}

.button1:hover {
  background-color: #EC3642;
  color: white;
}

.button2 {
  width: 100%;
  background-color: #EC3642;
  color: white;
  border: 1vw solid #EC3642;
}

.button2:hover {
  background-color: #9D242C;
  color: white;
  border: 1px solid #9D242C;
}

#about {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/Imgs/R&T.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: #222222;
  left: 0;
  right: 0;
  height: 105vh;
  color: white;
}

.aboutpic {
  display: none;
  margin-top: -0.2vw;
  margin-left: -0.2vw;
  width: 0vw;
  height: 0vw;
}

.abouttext {
  margin-left: 3vw;
  text-align: left;
  padding-left: 8vw;
  padding-top: 3vw;
}

.darkliltitle {
  font-family: RalewayBold;
  font-size: 2.5vh;
  letter-spacing: 0.25vw;
  color: #666666;
  line-height: 5vh;
}

.abouttitle {
  font-family: LuloClean;
  font-size: 8vw;
  letter-spacing: -1.2vw;
  color: white;
  line-height: 3.5vh;
}

.aboutliltext {
  font-family: Contax;
  font-size: 5vw;
  color: white;
  line-height: 2.5vh;
}

.abouttxtcomp{
  display: none;
}

.olink {
  font-size: 2vh;
}

.artlink {
  width: 85%;
  text-align: center;
}

#downloads {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/Imgs/ToradoraC2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  margin-top: 102vh;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10vw;
  color: white;
  z-index: 2;
}

.dltitle {
  font-family: LuloClean;
  font-size: 7.5vw;
  text-align: center;
  letter-spacing: -1.2vw;
}

.dltext {
  font-family: Contax;
  font-size: 5vw;
  color: white;
  text-align: center;
  line-height: 3vh;
}

.dltable {
  margin-top: 3vh;
  margin-left: 3%; 
  text-align: center;
}

.trdl {
  height: 15vh;
}

.tddl {
  width: 30vw;
}

.dllink {
  font-size: 5vw;
}

#contact {
  background-color: #222222;
  margin-top: 190vh;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 73vh;
  color: white;
  z-index: 2;
}

.contactbanner {
  display: block;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.contacttable {
  padding-left: 7%;
  text-align: center;
}

.trcontact {
  height: 10vh;
}

.tdcontact {
  text-align: left;
  width: 80vw;
  float: left;
}

.contactpic {
  display: none;
  width: 0vw;
}

.contacttitle {
  font-family: LuloClean;
  font-size: 8vw;
  letter-spacing: -1.2vw;
}

.contactliltitle {
  font-family: RalewayBold;
  font-size: 5vw;
}

.contactliltext {
  font-family: Contax;
  font-size: 5vw;
}

.footer {
  position: absolute;
  margin-top: 263vh;
  background-color: #EC3642;
  height: 7vh;
  right: 0;
  left: 0;
  font-size: 4vw;
  text-align: center;
  font-family: Contax;
  color: white;
  padding-top: 0.8vw;
  z-index: 3;
}
